// $dark_mode: {
//   font_color: #FFFFFF,
//   bg_color: #323232,
//   effect_color: #C377FF
// }

// $light_mode: {
//   font_color: #000000,
//   bg_color: #FFFFFF,
//   effect_color: #1A7BD6 6%
// }


.light__mode {
  color: #000000;
  background-color:#FFFFFF;
  
}

.dark__mode {
  color: #FFFFFF;
  background-color:#323232;
}

.bg {
  width: 100vw;
  height: 100vh;
}

.main__top {
  height: 25%;  
  vertical-align: bottom;
}