.container {
  width: 100vw;
  height: 100vh;
  padding: 2%;
  .header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    img {
      width: 3vw;
    }
    .withdrawl {
      color: #79b7f1;
      font-size: 3.2vw;
      font-weight: bolder;
    }
  }
  .body {
    width: 100%;
    height: 95%;
    padding: 2.5% 5% 2%;
    .top {
      width: 100%;
      height: 39%;
      margin-bottom: 1%;
      .character-zone {
        width: 100%;
        height: 50%;
        // margin-top: 3%;
        .circle {
          width: 30vw;
          height: 30vw;
          border-radius: 50%;
          margin: 0 auto;
          background-color: #cde8dd;
        }
      }
      .nickname-zone {
        width: 100%;
        height: 44%;
        margin-top: 1%;
        * {
          text-align: center;
          margin: 0;
        }
        .location {
          margin-bottom: 1.5%;
          font-weight: bold;
          font-size: 4vw;
          color: #93c9c7;
        }
        .aka {
          font-size: 3.5vw;
          font-weight: bolder;
          color: #aca9a9;
        }
        .nickname {
          font-size: 5vw;
          font-weight: bolder;
          margin-bottom: 2%;
        }
      }
    }
    .middle {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      img {
        width: 50%;
      }
    }
    .bottom {
      width: 100%;
      height: 50%;
      padding: 0;
      padding: 1%;
      .badge-container {
        width: 100%;
        display: grid;
        text-align: center;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        padding: 0.5% 0;
        .badge-item {
          text-align: center;
          vertical-align: center;
          padding: 6% 1%;
          margin: 2%;
          // :active {
          //   border: solid 4px #cef5dd;
          // }
          .badge-icon {
            width: 15vw !important;
            margin-top: 6% !important;
          }
          .badge-name {
            font-size: 2.6vw;
            text-align: center;
            font-weight: bolder;
            margin: 0;
          }
        }
      }
    }
  }
}

.btn {
  --width: 43vw;
  --height: calc(var(--width) / 5);
  width: var(--width);
  height: var(--height);
  font-size: calc(var(--height) / 2.3);
  cursor: pointer;
  background: #cde8dd;
  font-weight: bolder;
  border: none;
  border-radius: 0.6em;
}

.icon {
  width: 8.5vw !important;
}

.cnt {
  text-align: center;
  font-weight: bolder;
}
hr {
  margin: 0;
}
