$chat_light_btn_bg_color:#93C9C7;
$chat_light_bg_color:#FFFFFF;
$chat_light_font_color:#000000;
$chat_light_border_color :#9EEBBD;
$chat_light_input_color : #EDF5F6;

$chat_dark_btn_bg_color:#9F3D47;
$chat_dark_bg_color:#323232;
$chat_dark_font_color:#FFFFFF;
$chat_dark_border_color :#D3505D;
$chat_dark_input_color : #FF707E;

$chat_nav_height: 10vh;
$chat_content_max_height: 80%;
$chat_input_height: 10vh;

.chat__dark__mode {
  color:$chat_dark_font_color;
  background-color: $chat_dark_bg_color;
  border-color: $chat_dark_border_color;
  button {
    background-color: $chat_dark_btn_bg_color;
    border:none;outline: none;     
    color: $chat_dark_font_color
  }
  input {
    background-color: $chat_dark_input_color;
    color: inherit;
  }
  .chat__input__cover {
    background-color: #D3505D;
  }
}

.chat__light__mode {
  color:$chat_light_font_color;
  background-color: $chat_light_bg_color;
  border-color: $chat_light_border_color;
  button {
    background-color: $chat_light_btn_bg_color;
    border:none;outline: none;
    color: $chat_dark_font_color
  }
  input {
    background-color: $chat_light_input_color;
  }
  .chat__input__cover {
    background-color:#9EEBBD;
  }
}

.chat {
  display:flex;
  flex-direction: column;
  justify-content: space-between;  
  width:100vw; height:100vh;
}

.chat__nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:$chat_nav_height;      
  border-bottom: 2px solid;  
  border-bottom-color: inherit;  
  padding: 3% 5%; 
  .chat__back__btn {
    width: 4vh; height: 4vh;
    border-radius: 50%;
    color:$chat_dark_font_color;
  }
}

.chat__content {  
  padding: 3% 5%; 
  height: $chat_content_max_height;
  overflow: auto; 
}


.chat__input__cover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $chat_input_height; 

  input,button {  
    height: 60%;
  }

  input {
    outline:none; border:none;
    border-radius: 10px;
    width: 60%;
  }

  button {
    width: calc(10vh * 0.6);
    border-radius: 50%;
  }
}
