$message_light_bg: #baf5d1;
$message_light_color: #000000;
$message_dark_bg: #d3505d;
$message_dark_color: #ffffff;



.profile__light {
  .img__0 {
    background-image: url('../assets/characters/bird/bird_basic.gif');
  }
  .img__1 {
    background-image: url('../assets/characters/bird/bird_angel.gif');
  }
  .img__2{
    background-image: url('../assets/characters/bird/bird_heart.gif');    
  }
  .img__3{
    background-image: url('../assets/characters/bird/bird_judge.gif');    
  }
}

.profile__dark {
  .img__0 {
    background-image: url('../assets/characters/mouse/mouse_basic.gif');
  }
  .img__1 {
    background-image: url('../assets/characters/mouse/mouse_angel.gif');
  }
  .img__2{
    background-image: url('../assets/characters/mouse/mouse_heart.gif');    
  }
  .img__3{
    background-image: url('../assets/characters/mouse/mouse_judge.gif');    
  }
}

.message__cover {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.message__content__cover {
  width: 100%;
  line-height: 100%;
  br {
    margin: 0;
    padding: 0;
  }
  .nick__badge {
    font-size: 0.4rem;
    line-height: 110%;
    font-weight: bold;
    margin-top: 5%;
  }
}

.my__cover {
  display: flex;  
  flex-direction: row-reverse;
  .nick__badge {
    display: none;
  }
}

.message__profile {
  position:relative;
  width: 10vw;
  height: 10vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -0%;  
}

.time__stamp {
  position:absolute;
  display:inline-block;
  top:100%;
  font-size: .3rem;
  font-weight: 600;
  left:10%;
  opacity: .7;
}



.message__dark {
  color: $message_dark_color;
  background-color: $message_dark_bg;
  border-color: $message_dark_bg;
}

.message__light {
  color: $message_light_color;
  background-color: $message_light_bg;
  border-color: $message_light_bg;
}

.message {
  position: relative;
  display: inline-flex;    
  max-width: 60%;
  border-radius: 10px;
  margin: 1%;
  padding: 3%;
  font-size: 0.7rem;  
  word-break: break-all;
  line-height: 160%;
}


.other__message:before {
  border-left: 12px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
  position: absolute;
  top: 5px;
  left: -7px;
}

.my__message:before {
  border-left: 0px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
  position: absolute;
  top: 5px;
  right: -7px;
}

.message__dark:before {
  border-top: 15px solid $message_dark_bg;
}
.message__light:before {
  border-top: 15px solid $message_light_bg;
}

.display__none{display: none;}

.visibility_none {
  visibility: hidden;
}

.badge__class {
  font-size: .5rem;
  opacity: .5;
}