$message_light_bg:#baf5d1;
$message_light_color: #000000;
$message_dark_bg: #D3505D;
$message_dark_color:#FFFFFF;


.message__cover {
  display:flex;  
  align-items: flex-start;
}


.message__content__cover {
  width: 100%;
  line-height: 100%;
  br{
    margin:0;padding:0;
  }
  .nick__badge {    
    font-size: .4rem;
    line-height: 110%;
  }
}

.my__cover {
  display:flex;
  flex-direction: row-reverse;
  .nick__badge {
    display: none;
  }
}



.message__profile {
  width: 10vw; height: 10vw;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  margin-left: -0%;
  background-image: url('../assets/characters/bird/bird_angel.gif');
}

.message__dark {
  color:$message_dark_color;
  background-color: $message_dark_bg;
  border-color: $message_dark_bg;
}

.message__light {
  color:$message_light_color;
  background-color: $message_light_bg;
  border-color: $message_light_bg;
}

.message {
  position:relative;
  display:inline-flex;
  max-width: 60%;
  border-radius: 10px;
  margin: 2% 1%;
  padding: 2%;
  font-size: .6rem;
}

.other__message:before {
  
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;  
  content:"";
  position:absolute;
  top:5px;
  left:-7px;
}

.my__message:before {
  
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0px solid transparent;  
  content:"";
  position:absolute;
  top:5px;
  right:-7px;
}

.message__dark:before {
  border-top: 15px solid $message_dark_bg;
}
.message__light:before {
  border-top: 15px solid $message_light_bg;
}