$light_bg: #ffffff;
$light_blue1: #61acf1;
$light_blue2: #8ec1f1;
$light_mint: #cde8dd;
$light_btn: #b9d3c97a;

$dark_bg: #323232;
$dark_purple1: #d298ff;
$dark_purple2: #a574cc;
$dark_red: #bf5963;
$dark_btn: #bf596369;
$dark_btn_text: #dbd4d4;

$aka: #aca9a9;

.container {
  width: 100vw;
  height: 100vh;
  padding: 2%;
  .header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    button {
      .withdrawl {
        font-size: 3.3vw;
        font-weight: bold;
      }
    }
  }
  .body {
    width: 100%;
    height: 95%;
    padding: 2.5% 5% 0%;
    .my-profile {
      width: 100%;
      height: 39%;
      margin-bottom: 1%;
      .character-zone {
        width: 100%;
        height: 50%;
        .character-circle {
          position: relative;
          width: 30vw;
          height: 30vw;
          margin: 0 auto;
          .my-character {
            width: 29vw;
            margin-left: 2.5%;
          }
        }
        .character-change {
          position: relative;
          z-index: 10;
          bottom: 30%;
          left: 58%;
          width: 10vw;
          height: 10vw;
          font-size: 6vw;
          color: white;
          border: none;
          z-index: 10;
        }
      }
      .nickname-zone {
        width: 100%;
        height: 44%;
        margin-top: 1%;
        * {
          text-align: center;
        }
        .location {
          height: 25%;
          font-weight: bold;
          font-size: 4vw;
        }
        .aka {
          font-size: 3.5vw;
          font-weight: bolder;
          color: #aca9a9;
        }
        .nickname {
          font-size: 5vw;
          font-weight: bolder;
          margin-bottom: 2%;
        }
        div {
          .nicknameBtn {
            --width: 40vw;
            --height: calc(var(--width) / 4.5);
            width: var(--width);
            height: var(--height);
            font-size: calc(var(--height) / 2.1);
            cursor: pointer;
            font-weight: bolder;
            border-radius: 0.6em;
          }
        }
      }
    }
    .my-stat {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .icon {
        width: 8.5vw;
      }
      .cnt {
        text-align: center;
        font-weight: bold;
      }
    }
    .my-badge {
      width: 100%;
      height: 49%;
      .badge-title-zone {
        display: grid;
        grid-template-columns: 90% 10%;
        margin-top: 1.5%;
        height: 10.5%;
        .badge-title {
          font-size: 5.7vw;
          font-weight: bolder;
          text-align: end;
          height: 10%;
        }
        button {
          --x: 4vw;
          width: var(--x);
          height: var(--x);
          border-radius: 50%;
          font-size: 0.6rem;
          font-weight: bolder;
          margin-left: 10%;
        }
      }
      .badge-container {
        width: 100%;
        height: 88%;
        display: grid;
        text-align: center;
        grid-template-rows: repeat(3, 33%);
        grid-template-columns: repeat(3, 33%);
        margin-top: 1%;
        .badge-item {
          text-align: center;
          vertical-align: center;
          padding-bottom: 1%;
          .badge-icon {
            width: 65%;
            height: 80%;
          }
          .badge-name {
            font-size: 2.6vw;
            text-align: center;
            font-weight: bolder;
            margin: 0;
          }
        }
      }
    }
  }
}

.inactive {
  -webkit-filter: grayscale(100%);
  border: solid 7.5px;
  border-radius: 1rem;
  border-color: transparent;
}
.active {
  cursor: pointer;
  border: solid 7.5px;
  border-radius: 1rem;
  border-color: transparent;
}
.border {
  border: solid 7.5px;
  border-radius: 1rem;
}

// 모드 별 색상 전환
.light__withdrawl {
  color: $light_blue2;
}
.dark__withdrawl {
  color: $dark_purple2;
}

// .light__profile {
//   background-color: $light_mint;
// }
// .dark__profile {
//   background-color: $dark_red;
// }

// .light__ch__btn {
//   background-color: $light_blue1;
// }
// .dark__ch__btn {
//   background-color: $dark_purple1;
// }

.light__region {
  color: $light_mint;
}
.dark__region {
  color: $dark_red;
}

.light__nn__btn {
  background-color: $light_btn;
}
.dark__nn__btn {
  background-color: $dark_btn;
  color: white;
}

.light__i__btn {
  background-color: $light_blue2;
}
.dark__i__btn {
  background-color: $dark_purple2;
}

//(보더 색)
.light__ch__border {
  border-color: $light_mint;
}
.dark__ch__border {
  border-color: $dark_red;
}
.light__bs__charcter__border {
  border-color: $light_blue1;
}
.dark__bs__character__border {
  border-color: $dark_purple1;
}
.light__bs__badge__border {
  border-color: $light_bg;
}
.dark__bs__badge__border {
  border-color: $dark_bg;
}

// (배경 색)
.light__bg {
  background: white;
  color: black;
}
.dark__bg {
  background-color: $dark_bg;
  color: white;
}

.light__bg__blue {
  background-color: $light_blue1;
}
.dark__bg__purple {
  background-color: $dark_purple1;
}

.light__bg__mint {
  background-color: $light_mint;
}
.dark__bg__red {
  background-color: $dark_red;
}
