$landing_light_img: url('../assets/background/day_bg.gif');
$landing_dark_img: url('../assets/background/night_bg.gif');
$kakao_btn_bg_color: #FEE500;
$kakao_btn_border_radius: 12px;
$kakao_btn_font_color: #000000 85%;
$kakao_btn_symbol_color: #000000 85%;



.landing__light__bg {  
  background-image: $landing_light_img;
  position: fixed;
}

.landing__dark__bg {  
  background-image: $landing_dark_img;
  position: fixed;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;  
  background-position:center;
  background-size:cover;
  text-align: center;
  span {      
    display:block;
    margin: 30% 0 5%;
    text-align: center;    
    font-size: 3rem;
    font-weight:bolder;
  }
}

.landing__img__cover {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  .landing__img {
    display:block;
    width: 30vw;    
  }
  .top__img {
    margin-bottom: -10%;
    margin-right: 20%;
  }
  .bottom__img{
    margin-left: 20%;
  }
}



.kakao__login__btn {
  display:block;
  background-color:transparent;
  outline: none; border: none;
  border-radius: $kakao_btn_border_radius;  
  margin: 0 auto;
}
